body
{
    background-color:blanchedalmond;
}
header{
    text-align: center;
    color: grey;
    padding: 1em;
}
.nom{
    font-weight: bold;
    text-align: center;
    margin-bottom: 5em;
}

.nav{
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: grey;
    padding: 0;
    margin-top: 0;

    
}
.menubas{
    text-decoration: none;
    color: bisque;
    padding: 1em;
    padding-top: 1em;
    grid-column-start: 3;
    margin: 0;
    text-align: center;
    
    
    
}
.menu{
    text-decoration: none;
    color: bisque;
    padding: 1em;
    padding-top: 1em;
    
    
    
    
}
.menu:hover {
    background-color: bisque;
    color: grey;
    
  }
.menubas:hover {
    background-color: bisque;
    color: grey;
    
  }


footer{
    
    background-color: grey;
    text-align: center;
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 0;
    
}

#lab{
    width: 50px;
    height: 50px;
    background:linear-gradient(grey 0%,grey 20%,transparent 21%,transparent 40%,grey 41%,grey 60%,transparent 61%,transparent 80%,grey 81%,grey 100%);
    margin: 4px;
    display: none;
}
#ch{
    display: none;
}
img{
    height: 20em;
}
img:active
{
    
    transform:translateX(17em) translateY(-10em) scale(1.5);
    
}
.Apropos{
    margin: 5em;
    border-style: solid;
    background-color: antiquewhite;
    padding: 1em;
    overflow-y: scroll;
}
.blanc{
    display: none;
    height: 70em;
}

@media screen and (max-width:1000px){
    .nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        transform: translate(-1000px, 0);
        transition: all 0.5s ease;
    }
    #ch:checked+.nav{
        transform: translate(0, 0);
        transition: all 0.5s ease;
    }
    #lab{
        display: block;
    }
    .blanc{
        display: block;
    }
    .menu{
        border-bottom-style: solid;
        border-width: 1%;
        border-color: bisque;
    }
    
}
