*{
    margin: 0;
    padding: 0;
}
body
{
    background-color:blanchedalmond;
}
header{
    text-align: center;
    color: grey;
    padding: 1em;
}



.nav{
    display: flex;
    list-style: none;
    justify-content: space-around;
    background-color: grey;
    padding: 0;
    margin-top: 0;

    
}
.menubas{
    text-decoration: none;
    color: bisque;
    padding: 1em;
    padding-top: 1em;
    grid-column-start: 3;
    margin: 0;
    text-align: center;
    
    
    
}
.menu{
    text-decoration: none;
    color: bisque;
    padding: 1em;
    padding-top: 1em;
    
    
    
    
}
.menu:hover {
    background-color: bisque;
    color: grey;
    
  }
.menubas:hover {
    background-color: bisque;
    color: grey;
    
}






.section{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50% ;
    
    
    
}
.rubrique1{
    display: grid;
    text-align: center;
    grid-column-start: 1;
    grid-row-start: 1;
    background-color: antiquewhite;
    align-items: center;
    margin: 5em;
    border-style: solid;
    overflow-y: scroll;

}

.rubrique2{
    display: grid;
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: antiquewhite;
    align-items: center;
    margin: 5em;
    border-style: solid;
    overflow-y: scroll;

}
.rubrique3{
    display: grid;
    text-align: center;
    grid-column: 1/3;
    grid-row-start: 2;
    background-color: antiquewhite;
    align-items: center;
    margin: 5em;
    border-style: solid;
    overflow-y: scroll;

}
.texte{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.5em;
    
}
.img2{
    height: 8em;
}
.img3{
    height: 8em;
}
footer{
    
    background-color: grey;
    text-align: center;
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding: 0;
    
}
.imglivre{
    height: 15em;
}
#lab{
    width: 30px;
    height: 30px;
    background:linear-gradient(grey 0%,grey 20%,transparent 21%,transparent 40%,grey 41%,grey 60%,transparent 61%,transparent 80%,grey 81%,grey 100%);
    margin: 4px;
    display: none;
}
#ch{
    display: none;
}

@media screen and (max-width:1000px){
    .nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        transform: translate(-1000px, 0);
        transition: all 0.5s ease;
    }
    #ch:checked+.nav{
        transform: translate(0, 0);
        transition: all 0.5s ease;
    }
    #lab{
        display: block;
    }
    .section{
        display: flex;
        flex-direction: column;
    }
    footer{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
}


